img.center {
    position: absolute;
    top: -40px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

html,
body {
    margin: 0;
    height: 100%;
    overflow: hidden;
}

img.back {
    min-height: 100%;
    min-width: 100%;
    height: auto;
    width: auto;
    position: absolute;
    top: -100%;
    bottom: -100%;
    left: -100%;
    right: -100%;
    margin: auto;
}